

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* sticky sidebar */
.sticky__sidebar {
  will-change: min-height !important;
}

.sticky__sidebar__inner {
  transform: translate(0, 0) !important; /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0) !important;
  will-change: position, transform !important;
}

/* page layout */
@media screen and (min-width: 600px) {
  .page_content {
    width: 65%;
  }
  .page__content_sidebar{
    width: 35%;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .page_content {
    width: 100%;
  }
  .page__content_sidebar{
    width: 0;
    display: none;
  }
}

/* mentions popover */
.mnw6qvm {
  background: none !important;
  box-shadow: none !important;
}
/* mention hover item */
.mention-item:hover {
  background: var(--mui-palette-divider) !important
}

/* emoji editor */
.e8k2yoa{
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
  box-sizing: border-box !important;
  line-height: 1.2em !important;
  font-size: 1.5em !important;
  color: #888 !important;
  background: transparent !important;
  border: 1px solid #ddd !important;
  border-radius: 1.5em !important;
  cursor: pointer !important;
  border: none !important;
}

.e8k2yoa:hover, .e8k2yoa:active, .e8k2yoa:focus {
  background: transparent !important;
}

.e13wqaj6:hover {
  background: transparent !important;
}
.e13wqaj6:focus {
  outline: 0 !important;
}
.e13wqaj6 {
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
  box-sizing: border-box !important;
  line-height: 1.2em !important;
  font-size: 1.5em !important;
  color: #888 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 1.5em !important;
  cursor: pointer !important;
  background: transparent !important;
}

/* Draft editor emoji display */
.e183m4hm{
  z-index: 999999 !important;
  height: 100px !important;
  display: block !important;
}
.ejr02pv {
  padding: 0 0.3em;
  box-sizing: content-box;
  background: var(--mui-palette-background-paper) !important;
  border: 1px solid #e0e0e0;
  box-shadow: none !important;
  position: fixed;
  margin: 0px auto !important;
  inset: auto auto 0px 0px !important;
  overflow-y: hidden !important;
  z-index: 999999999;
  height: 180px;
  overflow-x: hidden !important;
  transform: translate3d(-161.5px, 35px, 17px) !important;
}
.e1kg9q3n {
  height: 12em !important;
}

/* increase emoji icon size */
.e183m4hm span {
  font-size: large !important;
}
/* toggle button size */
.e183m4hm .e8k2yoa {
  font-size: 2em !important
}
/* emoji suggestion */
.esyutjr{
  box-shadow: var(--Paper-shadow) !important;
  background-image: var(--Paper-overlay) !important;
  background: var(--mui-palette-background-paper) !important;
  box-shadow: none !important;
  border: 1px solid var(--mui-palette-divider) !important;
  z-index: 99999 !important;
  position: absolute;
}
.e1eijkox:active, .e1eijkox:hover{
  background: var(--mui-palette-divider) !important;
}
.e1adbvmt{
  background: var(--mui-palette-divider) !important;
}
/* post details app bar */
@media screen and (max-width: 600px) {
  .post_appbar {
    z-index: 99999 !important
  }
}
/* video player aspect ratio */
.player {
  /* width: 600px; */
  height: 320px;
  aspect-ratio: unset;
}
/* video player poster */
.media-poster {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.media-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-poster[data-visible] {
  opacity: 1;
}

.media-player {
  /* Player CSS variables (defaults shown). */
  --media-font-family: sans-serif;
  --media-controls-color: #f5f5f5;
  --media-focus-ring: 0 0 0 3px rgb(78 156 246);
}

/* .vds-button {
  --media-button-color: var(--media-controls-color, #f5f5f5);
  --media-button-size: 40px;
  --media-button-icon-size: 80%;
  --media-button-padding: 0px;
  --media-button-border-radius: 8px;
  --media-button-hover-bg: red;
  --media-button-hover-transform: scale(1);
  --media-button-hover-transition: transform 0.2s ease-in;
  --media-button-touch-hover-border-radius: 100%;
  --media-button-touch-hover-bg: rgb(255 255 255 / 0.2);
} */

.vds-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.vds-button:hover {
  background-color: hsl(198, 100%, 50%);
  border-radius: 3px;
  color: white;
}

.vdsbutton .vds-icon {
  color: white;
  fill: white; /* In case it's an SVG */
}

.vds-button:hover .vds-icon {
  color: white;
  fill: white;
  font-size: 10em;
}

.vds-tooltip-content span {
  position: relative;
  display: inline-block;
  color: #131212;
  font-size: var(--media-tooltip-font-size);
  font-weight: var(--media-tooltip-font-weight);
  background: #f5f5f5;
  border-radius: var(--media-tooltip-border-radius);
  padding: var(--media-tooltip-padding);
  top: -12px;
  left: -3px;
  transition: all 0.2s ease-in;
}

/* Arrow stripe */
.vds-tooltip-content span::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust depending on spacing */
  left: 20%;
  transform: translateX(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  background: #f5f5f5;
  box-shadow: 1px 1px 0 #d3d3d3; /* Optional shadow/border illusion */
  z-index: -1; /* Put it under the tooltip box */
}




.vds-tooltip-content {
  /* CSS variables available for customization (defaults shown). */
  --media-tooltip-color: hsl(0, 0%, 80%);
  --media-tooltip-bg-color: black;
  --media-tooltip-font-size: 12px;
  --media-tooltip-font-weight: 500;
  --media-tooltip-border-radius: 4px;
  --media-tooltip-padding: 4px 8px;
  --media-tooltip-border: 1px solid rgb(255 255 255 / 0.1);
  --media-tooltip-enter-animation: vds-tooltip-enter 0.2s ease-in;
  --media-tooltip-exit-animation: vds-tooltip-exit 0.2s ease-out;
}
